<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit details</title>
</head>
<body>
    
<h2>Edit detail</h2><br><br>

<form action="" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name" value="{{ data[1] }}"><br><br>
    <label for="age">Age</label>
    <input type="text" name="age" placeholder="Your age" value="{{ data[2] }}"><br><br>
    <label for="roll_no">Roll_No</label>
    <input type="text" name="roll_no" placeholder="enter your Roll_No" value="{{ data[3] }}"><br><br>
    <label for="grade">Grade</label>
    <input type="text" name="grade" placeholder="enter your grade" value="{{ data[4] }}"><br><br>

    <input type="submit" value="submit">
</form>
    
</body>
</html>
