<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav class="nav nav-pills flex-column flex-sm-row" style="background-color: aqua;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 12rem;
  align-items: center;">

    <h4>STUDENT DETAILS FORM</h4>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Name</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" aria-disabled="true">Disabled</a>
    <button><a href="{{url_for('signup')}}">Login</a></button>
  </nav> 


</body>
</html>